<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <open>subl</open>
  <extention>config;ini;vbs;bat;cmd;asp;aspx;cs;xml;md</extention>
  <ignore_dir>.svn;</ignore_dir>
  <paths>
<!--   	<path sub="0">c:/windows</path>
    <path sub="0">c:/windows/system32</path> -->
    <path sub="1">D:/Documents/IT보고</path>
  </paths>
</configuration>